/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --blue: #0e94d3;
  --orange: #ef8202;
  --grey: #898989;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  /* font-family: "Inter", sans-serif; */
  color: #333;
}

#mainHeader {
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    box-shadow 0.3s ease;
}

.transparent-header {
  background: rgba(255, 255, 255, 0.15) !important;
  /* backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); */
  box-shadow: none;
}

.solid-header {
  background: #ffffff !important;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

header {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.nav-link{
  color: var(--blue)
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: var(--blue);
}

.transparent-header .navbar-brand span,
.transparent-header .nav-link {
  color: #fff !important;
}

.transparent-header .navbar-brand img {
  filter: brightness(0) invert(1);
}

.solid-header .navbar-brand span,
.solid-header .nav-link {
  color: #333 !important;
}

.solid-header .navbar-brand img {
  filter: none;
}

.owl-carousel.owl-carousel-activity .owl-item.center {
  transform: scale(1);
  opacity: 1;
}

.owl-carousel.owl-carousel-activity .owl-item {
  transform: scale(0.75);
  opacity: 0.5;
  transition: all 0.3s ease;
}

/* Navbar toggler color switch */
.transparent-header .navbar-toggler {
  border-color: #fff !important;
}

.transparent-header .navbar-toggler-icon {
  filter: invert(1) brightness(2);
}

.solid-header .navbar-toggler {
  border-color: #333 !important;
}

.solid-header .navbar-toggler-icon {
  filter: none;
}

.navbar-brand span {
  color: var(--blue);
  font-weight: 600;
}

.btn-orange {
  background: var(--orange);
  color: #fff;
}

.btn-orange:hover {
  background: #ef8201;
  color: #fff;
}

.btn-blue-primary {
  background: var(--blue);
  color: #fff;
}

.btn-blue-primary:hover {
  background: #fff;
  color: var(--blue);
}

.btn-blue-secondary {
  background: #fff;
  color: var(--blue);
}

.btn-blue-secondary:hover {
  background: var(--blue);
  color: #fff;
}

.text-color-primary {
  color: #ef8201;
}

.text-color-secondary {
  color: #0e94d3;
}

.text-color-tertiary {
  color: #898989;
}

.bg-color-primary {
  background-color: #ef8201;
}

.bg-color-secondary {
  background-color: #0e94d3;
}

.bg-color-tertiary {
  background-color: #898989;
}

.banner-section {
  background: linear-gradient(rgba(14, 148, 211, 0.8), rgba(14, 148, 211, 0.8)),
    url("../img/team/team.jpg");
  background-size: cover;
  background-position: center;
  padding: 180px 0;
  color: #fff;
}

.section-title {
  font-weight: 700;
  margin-bottom: 40px;
  /* color: var(--blue); */
}

.company-section {
  background: linear-gradient(rgba(137, 137, 137, 0.8),
      rgba(137, 137, 137, 0.8)),
    url("../img/company.jpg");
  background-size: cover;
  background-position: center;
  padding: 180px 0;
  color: #fff;
}

.value-box.mission-1 {
  background: linear-gradient(rgba(255, 136, 0, 0.8), rgba(255, 136, 0, 0.8)),
    url("../img/customer_satisfaction.jpg");
  background-size: cover;
  background-position: center;
  /* padding: 140px 0; */
  color: #fff;
}

.value-box.mission-2 {
  background: linear-gradient(rgba(14, 148, 211, 0.8), rgba(14, 148, 211, 0.8)),
    url("../img/partnership.jpg");
  background-size: cover;
  background-position: center;
  /* padding: 140px 0; */
  color: #fff;
}

.value-box.value-excellence {
  background: linear-gradient(rgba(14, 148, 211, 0.8), rgba(14, 148, 211, 0.8)),
    url("../img/excellence.jpg");
  background-size: cover;
  background-position: center;
  /* padding: 140px 0; */
  height: 175px;
  color: #fff;
}

.value-box.value-integrity {
  background: linear-gradient(rgba(14, 148, 211, 0.8), rgba(14, 148, 211, 0.8)),
    url("../img/integrity.jpg");
  background-size: cover;
  background-position: center;
  /* padding: 140px 0; */
  height: 175px;
  color: #fff;
}

.value-box.value-harmony {
  background: linear-gradient(rgba(14, 148, 211, 0.8), rgba(14, 148, 211, 0.8)),
    url("../img/harmony.jpg");
  background-size: cover;
  background-position: center;
  /* padding: 140px 0; */
  height: 175px;
  color: #fff;
}

.value-box.value-innovation {
  background: linear-gradient(rgba(14, 148, 211, 0.8), rgba(14, 148, 211, 0.8)),
    url("../img/innovation.jpg");
  background-size: cover;
  background-position: center;
  /* padding: 140px 0; */
  height: 175px;
  color: #fff;
}

.value-box,
.service-box {
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
}

.value-box:hover,
.service-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

/* footer {
        background: #0a3a57;
        color: #fff;
        padding: 60px 0;
      } */
footer {
  border-radius: 56px 56px 0 0;
  background: linear-gradient(90deg, var(--blue), var(--orange));
  color: #fff;
  padding: 60px 0;
}

.whatsapp-float {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #25d366;
  color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  box-shadow: 1px 6px 24px 0 rgb(7 94 84 / 24%);
  z-index: 9999;
  transition: background-color 0.2s linear;
}

.whatsapp-float:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/* CTA strip */
.cta-strip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, var(--blue), var(--orange));
  color: white;
  padding: 20px;
  /* border-radius: 14px; */
  /* margin: 40px 0; */
}

.client-logo {
  max-height: 50px;
  max-width: 125px;
}

.team {
  background: linear-gradient(90deg, var(--blue), var(--orange));
  padding: 60px 0;
  border-radius: 56px 56px 56px 56px;
}

.team .member {
  text-align: center;
  margin-bottom: 20px;
  /* background: #343a40; */
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.team .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

.team .member .member-info-content {
  position: absolute;
  left: 35px;
  right: 0;
  bottom: 0;
  transition: bottom 0.4s;
}

.team .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

.team .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

.team .member .social {
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: left ease-in-out 0.3s;
  background: rgba(78, 64, 57, 0.6);
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  display: block;
  color: #fff;
  margin-top: 15px;
}

.team .member .social a:hover {
  color: #eb5d1e;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member:hover .member-info {
  background: linear-gradient(0deg,
      rgba(78, 64, 57, 0.95) 0%,
      rgba(78, 64, 57, 0.95) 15%,
      rgba(255, 255, 255, 0) 100%);
  opacity: 1;
  transition: 0.4s;
}

.team .member:hover .member-info-content {
  bottom: 30px;
  transition: bottom 0.4s;
}

.team .member:hover .social {
  left: 0;
  transition: left ease-in-out 0.3s;
}

.owl-theme .owl-dots .owl-dot span {
  background: #ccc !important;
  /* normal color */
}

.owl-carousel .owl-stage{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #eb5d1e !important;
  /* active/hover color */
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact .info {
  border-top: 3px solid #eb5d1e;
  border-bottom: 3px solid #eb5d1e;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  float: left;
  width: 44px;
  height: 44px;
  background: #fdf1ec;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info .address i {
  color: #0e94d3;
}

.contact .info .email i {
  color: #eb5d1e;
}

.contact .info .phone i {
  color: #898989;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #7a6960;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #ab9d95;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #eb5d1e;
  color: #fff;
}

.contact .info .email:hover i {
  background: #eb5d1e;
  color: #fff;
}

.contact .info .address:hover i {
  background: #0e94d3;
  color: #fff;
}

.contact .info .phone:hover i {
  background: #898989;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #eb5d1e;
  border-bottom: 3px solid #eb5d1e;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #eb5d1e;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #ef7f4d;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bump-effect{
  display: inline-block;
  animation: bump-effect 2s ease-in-out infinite;
}

@keyframes bump-effect {
  0%   { transform: translateY(0); }
  10%  { transform: translateY(8px); }
  20%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}